/*Hoja de estilos para "Barra Nav.html"*/
/*.capa1
{
	margin-left: 15%; Con esta configuración, se crea una barra lateral izquierda de navegación 
	padding: 12px;
	height: 1000px;
}*/
ul
{
	list-style-type: none; /*Esta función da estilo a las viñetas de la lista, con 'none', estas desaparecen*/
	margin: 0;
	padding: 0;
	width: 15%;
	height: 100%;
	/*position: fixed; Mantiene la lista a la izquierda de la pantalla siempre*/
	background-color: lightblue;
	/*overflow: auto; Agrega las flehcas de desplazamiento en caso de tener mucho contenido en la barra*/
}
li a
{
	background-color: lightblue;
	color: black;
	display: block; /*Esta función agrupa los listados en un bloque*/
	padding: 6px 12px;
	text-decoration: none; /*Agrega decoración a los textos, con 'none', estas desaparecen*/
}
li a:hover
{
	background-color: lightgray;
	color: black;	
}
/*
Se puede referencia por id y class, para:
id = #texto1 
{ 

}
class = .texto1
{
	
}
*/
li a.activo 
{
	background-color: royalblue;
}
li a.activo:hover
{
	background-color: royalblue;
	color: white;
}
/*li a:hover:not(.activo)
{
	background-color: lightgray;
	color: black;
}

Esta opción habilita una fuente diferente extraída desde Google Fonts, se obtiene mediante los siguientes pasos:
entrar a GoogleFonts, buscar una fuente, clickear en obtener código, copiar y pegar el primer fragmento en la parte .html
y el segundo en la hoja .ccs con los arreglos correspondientes. 
h1
{
  font-family: "Big Shoulders Stencil", system-ui, sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p
{
  font-family: "Roboto mono", system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
}

font-face
{
	font-family: "parrafos";
	src: url(static/Rubik-Italic.ttf)format("truetype");
}
p
{
	font-family: 'parrafos';
}
Con esta opción, podemos descargar una fuente para usar en más de un código, se siguen los siguientes pasos:
se decarga un .rar, se descomprime y la carpeta obtenida se copia a la ubicación del archivo html editado
después, se le asigna un nombre, y se activa el comando src, seguido de url, en donde copiamos el nombre de la carpeta
/ el nombre de la fuente, y format, que es el tipo de archivo de la fuente.
Después esto se asigna a un estilo p ya asignado o se crea uno nuevo mediante font-family y el nombre de la fuente.
*/