body 
{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

.contenedor
{
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
    text-align: center;
}

input, button 
{
    display: block;
    margin: 20px auto;
}

button 
{
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}